@import url("./assets/css/tailwind.css");
@import url("./assets/css/animate.min.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --themeColor: rgb(36, 36, 36);
  --themeColor_2: rgba(36, 36, 36, 0.4);
  --themeColor_3: rgba(36, 36, 36, 0.8);
  --setWindBtnColor: #eee;
  --hoverColor: rgba(51 65 85);
  --color: #000;
  --reverColor: #fff;
  --subtopicColor: rgb(150, 174, 211);
  --scrollbarbg: #f1f1f1;
  --bgColor: #ffffff;
  color-scheme: light dark;
  color: #000;
  background-color: var(--bgColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--themeColor);
  text-decoration: inherit;
}

a:hover {
  color: var(--themeColor);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
//用户选中时的背景颜色
::selection {
  background-color: var(--themeColor);
  color: var(--reverColor);
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: var(--scrollbarbg);
}

::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--subtopicColor);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:active {
  border-color: transparent;
  outline-color: transparent;
}

#app button:hover {
  border-color: var(--themeColor);
}

code {
  background-color: #1a1a1a;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

.card {
  padding: 2em;
}

img,
a,
button {
  -webkit-user-drag: none;
  user-select: none;
}

@font-face {
  font-family: "alimama";
  src: url("./assets/fonts/AlimamaShuHeiTi-Bold.ttf");
}
@font-face {
  font-family: "dindin";
  src: url("./assets/fonts/DingTalk_JinBuTi_Regular.ttf");
}

/* 这个例子使用了一个有黑色背景和白色文字的元素，当用户使用浅色主题时，会翻转黑白颜色。 */
@media (prefers-color-scheme: dark) {
  :root {
    --themeColor: #fff;
    --themeColor_2: rgba(255, 255, 255, 0.4);
    --themeColor_3: rgba(147, 147, 147, 0.8);
    --hoverColor: rgb(201, 201, 201);
    --setWindBtnColor: #99999930;
    --color: #ffffff;
    --reverColor: #000000;
    --scrollbarbg: #1a1a1a;
    --bgColor: rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);
    color: #ffffff;
  }

  a:hover {
    color: var(--themeColor);
  }

  button {
    background-color: #f9f9f9;
  }

  code {
    background-color: #f9f9f9;
  }
}
